[readonly] {
  background: #fff!important;
  cursor: pointer!important;
}

.side-nav {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px 0;
}

.checkbox .form-control,
.radio .form-control,
.checkbox .btn,
.radio .btn {
  margin-top: -7px;
}

.checkbox > label,
.radio > label {
  width: 100%;
}