.hppc-datefield:focus {
  border: 1px solid #ccc;
  box-shadow: none;
}

.hppc-datefield.focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.hppc-datefield[readonly] {
  background: #fff!important;
  cursor: pointer!important;
}
