.ng-table {
  margin-bottom: 0;
}

.ng-table > thead > tr {
  background: #307ecc;
  color: #FFF;
  font-weight: normal;
}

.ng-table > thead > tr > th {
  font-weight: normal;
  text-shadow: none!important;
  border-bottom: none;
}

.ng-table th.sortable div:before,
.ng-table th.sortable.sort-desc div:after {
  border-top: 4px solid #FFF;
}

.ng-table th.sortable div:after,
.ng-table th.sortable div:before {
  border-color: #FFF transparent;
}

.ng-table th.sortable.sort-asc div:after,
.ng-table th.sortable.sort-asc div:hover:after,
.ng-table th.sortable.sort-desc div:after {
  opacity: 1;
}

.ng-table > thead > tr.ng-table-filters {
  background-color: #eff3f8;
}

.ng-table > thead > tr.ng-table-filters > th {
  padding: 4px;
}

.ng-table > thead > tr.ng-table-filters input[type="text"] {
  padding: 3px 6px;
  height: 28px;
}

.ng-table > tbody+tbody {
  border-top: none;
}

.ng-table > tbody > tr > td {
  text-align: center;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding: 6px 4px;
  vertical-align: middle;
}

.ng-table > tbody > tr > td > input[type=text] {
  text-align: center;
  padding-top: 0;
  padding-bottom: 1px;
}

.ng-table > tbody > tr:last-child > td {
  border-bottom: none;
}

.ng-table > tbody > tr > td:last-child {
  border-right: none;
}

.ng-table > tbody > tr.active > td {
  border-right-color: #C7D3A9;
  background-color: #E4EFC9;
}

.table-selectable > tbody > tr {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ng-table-tools {
  position: relative;
  padding: 3px 9px;
  background-color: #eff3f8;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  font-size: 12px;
  color: #666;
  vertical-align: text-top;
}

.ng-table-tools .btn {
  padding: 2px 5px;
  margin: 3px 3px 3px 0;
}
