<div id="announcement-details-page">
  <h2 class="col-md-offset-1">公告设置</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a>编辑公告</a></li>
  </ul>
  <div class="tab-tools clearfix">
    <a class="btn btn-primary btn-sm" ui-sref="announcement.records"><i class="fa fa-arrow-left"></i>返回（公告列表）</a>
    <div class="pull-right">
      <button type="button" ng-click="save()" class="btn btn-sm btn-success" ng-disabled="!recordChanged || pending || form.$invalid"><i class="fa fa-floppy-o"></i>保存</button>
    </div>
  </div>
  <div class="tab-content">
    <div class="clearfix">
      <div class="col-md-6">
        <h4 class="text-center">效果预览</h4>
        <div announcement="record"></div>
      </div>
      <div class="col-md-6">
        <form name="form">
          <div class="panel panel-default">
            <div class="panel-heading">编辑公告</div>
            <div class="panel-body">
              <div class="form-group">
                <label for="title">*标题</label>
                <input type="text" class="form-control" name="title" id="title" ng-model="record.title" placeholder="标题" ng-required="true">
              </div>
              <div class="form-group">
                <label class="radio-inline">
                  <input type="radio"  name="type" ng-model="record.type" value="success"><span class="alert alert-success alert-type-sample" ng-required="true"></span>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="type" ng-model="record.type" value="info"><span class="alert alert-info alert-type-sample" ng-required="true"></span>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="type" ng-model="record.type" value="warning"><span class="alert alert-warning alert-type-sample" ng-required="true"></span>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="type" ng-model="record.type" value="danger"><span class="alert alert-danger alert-type-sample" ng-required="true"></span>
                </label>
              </div>
              <div class="form-group">
                <label for="keywords">关键词</label>
                <input type="text" class="form-control" name="keywords" id="keywords" ng-model="record.keywords" placeholder="关键词">
              </div>
              <div class="form-group">
                <label for="content">*内容</label>
                <textarea class="form-control" msd-elastic name="content" id="content" ng-model="record.content" placeholder="公告详细内容" ng-required="true"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>