<div id="announcement-details-page">
  <div class="clearfix">
    <div class="col-md-6">
      <p class="text-center">预览</p>
      <div announcement="record"></div>
    </div>
    <div class="col-md-6">
      <form name="form">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">编辑公告</h3>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="title">标题</label>
              <input type="text" class="form-control" name="title" id="title" ng-model="record.title" placeholder="标题" ng-required="true">
            </div>
            <div class="form-group">
              <label class="radio-inline">
                <input type="radio"  name="type" ng-model="record.type" value="success"><span class="alert alert-success alert-type-sample" ng-required="true"></span>
              </label>
              <label class="radio-inline">
                <input type="radio" name="type" ng-model="record.type" value="info"><span class="alert alert-info alert-type-sample" ng-required="true"></span>
              </label>
              <label class="radio-inline">
                <input type="radio" name="type" ng-model="record.type" value="warning"><span class="alert alert-warning alert-type-sample" ng-required="true"></span>
              </label>
              <label class="radio-inline">
                <input type="radio" name="type" ng-model="record.type" value="danger"><span class="alert alert-danger alert-type-sample" ng-required="true"></span>
              </label>
            </div>
            <div class="form-group">
              <label for="keywords">关键词</label>
              <input type="text" class="form-control" name="keywords" id="keywords" ng-model="record.keywords" placeholder="关键词">
            </div>
            <div class="form-group">
              <label for="content">内容</label>
              <textarea class="form-control" msd-elastic name="content" id="content" ng-model="record.content" placeholder="公告详细内容" ng-required="true"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <a type="button" ui-sref="announcement.records" class="btn btn-default" ng-disabled="pending">返回</a>
            <button type="button" ng-click="save()" class="btn btn-primary" ng-disabled="!recordChanged || pending || form.$invalid">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>