<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
  <beans:bean id="ep403" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>

  <global-method-security jsr250-annotations="enabled" secured-annotations="enabled"/>

  <http pattern="/*.ico*" security="none"/>
  <http pattern="/**/*.css*" security="none"/>
  <http pattern="/lib/**" security="none"/>
  <http pattern="/resources/**" security="none"/>

  <http pattern="/**" use-expressions="true" realm="hppc">
    <intercept-url pattern="/login.html*" access="permitAll"/>
    <intercept-url pattern="/**" access="isAuthenticated()"/>
    <form-login
      login-page="/login.html"
      login-processing-url="/security/login"
      authentication-failure-url="/login.html#error"
      username-parameter="hppc-username"
      password-parameter="hppc-password"/>
    <logout
      logout-url="/security/logout"
      delete-cookies="JSESSIONID"
      logout-success-url="/login.html"/>
    <remember-me token-repository-ref="inMemoryTokenRepositoryImpl" user-service-ref="databaseUserDetailsService"/>
  </http>

  <beans:bean id="jasyptPasswordEncoder" class="org.jasypt.springsecurity3.authentication.encoding.PasswordEncoder">
    <beans:property name="passwordEncryptor" ref="passwordEncryptor"/>
  </beans:bean>

  <beans:bean id="databaseUserDetailsService" class="com.beijunyi.hppc.security.DatabaseUserDetailsService" />
  <beans:bean id="databaseAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
    <beans:property name="userDetailsService" ref="databaseUserDetailsService"/>
    <beans:property name="passwordEncoder" ref="jasyptPasswordEncoder"/>
  </beans:bean>

  <beans:bean id="inMemoryTokenRepositoryImpl" class="org.springframework.security.web.authentication.rememberme.InMemoryTokenRepositoryImpl">
  </beans:bean>

  <authentication-manager>
    <authentication-provider ref="databaseAuthenticationProvider"/>
  </authentication-manager>

</beans:beans>