<div id="basic-information-form">
<div class="tab-tools">
  <button class="btn btn-primary btn-sm" ng-disabled="!recordChanged || form.$invalid" ng-click="save()">保存</button>
</div>
<div class="tab-content">
<form class="form-horizontal" name="form" ng-show="record != null">
<accordion close-others="false">
<accordion-group is-open="accorionStatus[0]">
  <accordion-heading>主要信息<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accorionStatus[0], 'glyphicon-chevron-right': !accorionStatus[0]}"></i></accordion-heading>
  <div class="form-group">
    <label for="id" class="col-sm-2 control-label">*档案号</label>
    <div class="col-sm-8">
      <input type="text" id="id" class="form-control" name="id" ng-model="record.id" placeholder="自动生成" readonly/>
    </div>
  </div>
  <div class="form-group">
    <label for="createTimestamp" class="col-sm-2 control-label">*入档时间</label>
    <div class="col-sm-8">
      <input hppc-datefield id="createTimestamp" class="form-control" name="createTimestamp" ng-model="record.createTimestamp"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.createTimestamp.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="ownerName" class="col-sm-2 control-label">*主人姓名</label>
    <div class="col-sm-8">
      <input type="text" id="ownerName" class="form-control" name="ownerName" ng-model="record.ownerName" ng-required="true"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.ownerName.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="address" class="col-sm-2 control-label">地址</label>
    <div class="col-sm-8">
      <input type="text" id="address" class="form-control" name="address" ng-model="record.address"/>
    </div>
  </div>
  <div class="form-group">
    <label for="postCode" class="col-sm-2 control-label">邮编</label>
    <div class="col-sm-8">
      <input type="text" id="postCode" class="form-control" name="postCode" ng-model="record.postCode"/>
    </div>
  </div>
  <div class="form-group">
    <label for="cellPhone" class="col-sm-2 control-label">*手机</label>
    <div class="col-sm-8">
      <input type="text" id="cellPhone" class="form-control" name="cellPhone" ng-model="record.cellPhone" ng-required="true"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.cellPhone.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      <input type="text" id="email" class="form-control" name="email" ng-model="record.email"/>
    </div>
  </div>
  <div class="form-group">
    <label for="petName" class="col-sm-2 control-label">*宠物名</label>
    <div class="col-sm-8">
      <input type="text" id="petName" class="form-control" name="petName" ng-model="record.petName" ng-required="true"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petName.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="petWeight" class="col-sm-2 control-label">*体重</label>
    <div class="col-sm-8">
      <input type="number" id="petWeight" class="form-control" name="petWeight" ng-model="record.petWeight" ng-required="true"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petWeight.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">*种类</label>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-1">
          <div class="radio">
            <label>
              <input type="radio" name="petType" ng-model="record.petType" value="猫" ng-required="true">
              <span>猫</span>
            </label>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="radio">
            <label>
              <input type="radio" name="petType" ng-model="record.petType" value="狗" ng-required="true">
              <span>狗</span>
            </label>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="petType" ng-model="record.petType" value="其它" ng-required="true">
              <input type="text" name="otherPetType" ng-model="record.otherPetType" class="form-control" placeholder="其它（请注明）" ng-readonly="record.petType != '其它'" ng-required="record.petType == '其它'">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petType.$invalid || form.otherPetType.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="petBirthday" class="col-sm-2 control-label">*出生日期</label>
    <div class="col-sm-8">
      <input hppc-datefield id="petBirthday" name="petBirthday" class="form-control" ng-model="record.petBirthday" ng-required="true"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petBirthday.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="petBreed" class="col-sm-2 control-label">*品种</label>
    <div class="col-sm-8">
      <input type="text" id="petBreed" name="petBreed" class="form-control" ng-model="record.petBreed" ng-required="true"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petBreed.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="petColor" class="col-sm-2 control-label">*颜色</label>
    <div class="col-sm-8">
      <input type="text" id="petColor" name="petColor" class="form-control" ng-model="record.petColor" ng-required="true"/>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petColor.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">*性别</label>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-2">
          <div class="radio">
            <label>
              <input type="radio" name="petGender" ng-model="record.petGender" value="雌性" ng-required="true">
              <span>雌性</span>
            </label>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="radio">
            <label>
              <input type="radio" name="petGender" ng-model="record.petGender" value="雄性" ng-required="true">
              <span>雄性</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petGender.$invalid">必填</div>
  </div>
  <div class="form-group">
    <label for="petNeutered" class="col-sm-2 control-label">*绝育/去势</label>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="petNeutered" name="petNeutered" ng-model="record.petNeutered">
              <input hppc-datefield id="petNeuterDate" name="petNeuterDate" class="form-control" ng-model="record.petNeuterDate" ng-readonly="!record.petNeutered" ng-required="record.petNeutered"/>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 form-alert" ng-show="form.petNeutered.$invalid || form.petNeuterDate.$invalid">必填</div>
  </div>
</accordion-group>
<accordion-group is-open="accorionStatus[1]">
  <accordion-heading>一般性记录<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accorionStatus[1], 'glyphicon-chevron-right': !accorionStatus[1]}"></i></accordion-heading>
  <div class="form-group">
    <label class="col-sm-2 control-label">宠物来源</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="petSource" ng-model="record.petSource" value="繁殖场">
        <span>繁殖场</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petSource" ng-model="record.petSource" value="宠物商店">
        <span>宠物商店</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petSource" ng-model="record.petSource" value="宠物主人">
        <span>宠物主人</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="petAdoptedAge" class="col-sm-2 control-label">宠物接受领养时的年龄</label>
    <div class="col-sm-8">
      <input type="number" id="petAdoptedAge" name="petAdoptedAge" class="form-control" ng-model="record.petAdoptedAge"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">生活环境及方式</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="petLivingCondition" ng-model="record.petLivingCondition" value="平房">
        <span>平房</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petLivingCondition" ng-model="record.petLivingCondition" value="楼房">
        <span>楼房</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petLivingCondition" ng-model="record.petLivingCondition" value="经常到公园散步">
        <span>经常到公园散步</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petLivingCondition" ng-model="record.petLivingCondition" value="每天运动">
        <span>每天运动</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="petLivingConditionChanges" class="col-sm-2 control-label">生活环境是否有过改变</label>
    <div class="col-sm-8">
      <input type="text" id="petLivingConditionChanges" name="petLivingConditionChanges" class="form-control" ng-model="record.petLivingConditionChanges"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">行为</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="petBehaviour" ng-model="record.petBehaviour" value="平静">
        <span>平静</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petBehaviour" ng-model="record.petBehaviour" value="友好">
        <span>友好</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petBehaviour" ng-model="record.petBehaviour" value="紧张">
        <span>紧张</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petBehaviour" ng-model="record.petBehaviour" value="好斗">
        <span>好斗</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petBehaviour" ng-model="record.petBehaviour" value="经常损坏家中物品">
        <span>经常损坏家中物品</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="petBehaviourChanges" class="col-sm-2 control-label">最近行为举止的变化</label>
    <div class="col-sm-8">
      <input type="text" id="petBehaviourChanges" name="petBehaviourChanges" class="form-control" ng-model="record.petBehaviourChanges"/>
    </div>
  </div>
</accordion-group>
<accordion-group is-open="accorionStatus[2]">
  <accordion-heading>营养状况<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accorionStatus[2], 'glyphicon-chevron-right': !accorionStatus[2]}"></i></accordion-heading>
  <div class="form-group">
    <label class="col-sm-2 control-label">饮水情况</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="petWaterDrinkingStatus" ng-model="record.petWaterDrinkingStatus" value="正常">
        <span>正常</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petWaterDrinkingStatus" ng-model="record.petWaterDrinkingStatus" value="增加">
        <span>增加</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petWaterDrinkingStatus" ng-model="record.petWaterDrinkingStatus" value="减少">
        <span>减少</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">宠物食物</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="petFood" ng-model="record.petFood" value="自己制作">
        <span>自己制作</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petFood" ng-model="record.petFood" value="干性商品性宠物食品">
        <span>干性商品性宠物食品</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petFood" ng-model="record.petFood" value="湿性商品食物">
        <span>湿性商品食物</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="petFoodBrand" class="col-sm-2 control-label">商品性宠物食物品牌为</label>
    <div class="col-sm-8">
      <input type="text" id="petFoodBrand" class="form-control" ng-model="record.petFoodBrand"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">食用宠物食品频率</label>
    <div class="col-sm-8">
      <label class="checkbox-inline">
        <input type="checkbox" name="petFeedingFrequency" ng-model="record.petFeedingFrequency" value="每日一次">
        <span>每日一次</span>
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="petFeedingFrequency" ng-model="record.petFeedingFrequency" value="每日两次">
        <span>每日两次</span>
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="petFeedingFrequency" ng-model="record.petFeedingFrequency" value="每日三次">
        <span>每日三次</span>
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" name="petFeedingFrequency" ng-model="record.petFeedingFrequency" value="自由采食">
        <span>自由采食</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">盛放宠物食品容器材料</label>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-1">
          <div class="radio">
            <label>
              <input type="radio" name="petFoodContainer" ng-model="record.petFoodContainer" value="塑料">
              <span>塑料</span>
            </label>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="radio">
            <label>
              <input type="radio" name="petFoodContainer" ng-model="record.petFoodContainer" value="金属">
              <span>金属</span>
            </label>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="petFoodContainer" ng-model="record.petFoodContainer" value="OTHER">
              <input type="text" name="otherPetFoodContainer" ng-model="record.otherPetFoodContainer" class="form-control" placeholder="其他（请详细说明）">
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="petFoodChanges" class="col-sm-2 control-label">宠物食品的变动情况</label>
    <div class="col-sm-8">
      <input type="text" id="petFoodChanges" name="petFoodChanges" class="form-control" ng-model="record.petFoodChanges"/>
    </div>
  </div>
</accordion-group>
<accordion-group is-open="accorionStatus[3]">
  <accordion-heading>繁殖情况<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accorionStatus[3], 'glyphicon-chevron-right': !accorionStatus[3]}"></i></accordion-heading>
  <div class="form-group">
    <label class="col-sm-2 control-label">发情周期是否有规律</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="petRegularEstrusCycle" ng-model="record.petRegularEstrusCycle" value="true">
        <span>是</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petRegularEstrusCycle" ng-model="record.petRegularEstrusCycle" value="false">
        <span>否</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="petLastEstrusDate" class="col-sm-2 control-label">上次发情日期</label>
    <div class="col-sm-8">
      <input hppc-datefield id="petLastEstrusDate" name="petLastEstrusDate" class="form-control" ng-model="record.petLastEstrusDate"/>
    </div>
  </div>
  <div class="form-group">
    <label for="petLastPregnantDate" class="col-sm-2 control-label">前次怀孕时间</label>
    <div class="col-sm-8">
      <input hppc-datefield id="petLastPregnantDate" name="petLastPregnantDate" class="form-control" ng-model="record.petLastPregnantDate"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">雄性特征和行为</label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="petObviousMaleBehavious" ng-model="record.petObviousMaleBehavious" value="true">
        <span>明显</span>
      </label>
      <label class="radio-inline">
        <input type="radio" name="petObviousMaleBehavious" ng-model="record.petObviousMaleBehavious" value="false">
        <span>不明显</span>
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="petHistoryIllnessesAndSurgeries" class="col-sm-2 control-label">曾患疾病和做过的手术</label>
    <div class="col-sm-8">
      <input type="text" id="petHistoryIllnessesAndSurgeries" name="petHistoryIllnessesAndSurgeries" class="form-control" ng-model="record.petHistoryIllnessesAndSurgeries"/>
    </div>
  </div>
  <div class="form-group">
    <label for="updateTimestamp" class="col-sm-2 control-label">资料更改日期</label>
    <div class="col-sm-8">
      <input hppc-datefield id="updateTimestamp" name="updateTimestamp" class="form-control" ng-model="record.updateTimestamp"/>
    </div>
  </div>
</accordion-group>
</accordion>
</form>
</div>
</div>