<div id="basic-information-page">
  <table ng-table="tableParams" template-pagination="basic-information-table-tools" class="table table-selectable">
    <tbody ng-repeat="record in $data">
    <tr ng-click="select(record)" ng-class="{active: record == tableParams.$selection}">
      <td class="col-md-2" data-title="'档案号'" sortable="'id'">{{record.id}}</td>
      <td class="col-md-2" data-title="'主人姓名'" sortable="'ownerName'">{{record.ownerName}}</td>
      <td class="col-md-2" data-title="'种类'" sortable="'petName'">{{record.petType}}</td>
      <td class="col-md-2" data-title="'品种'" sortable="'petName'">{{record.petBreed}}</td>
      <td class="col-md-2" data-title="'宠物名'" sortable="'petName'">{{record.petName}}</td>
      <td class="col-md-2" data-title="'入档时间'" sortable="'createTimestamp'">{{record.createTimestamp | date: 'yyyy年M月d日'}}</td>
    </tr>
    </tbody>
  </table>

  <script type="text/ng-template" id="basic-information-table-tools">
    <div class="clearfix ng-table-tools">
      <div class="col-md-4">
        <a class="btn btn-sm btn-success" ui-sref="medical.basic-information-create">
          添加
        </a>
        <a class="btn btn-sm btn-info" ui-sref="medical.basic-information-edit({id: params.$selection.id})" ng-disabled="params.$selection == null">
          编辑
        </a>
      </div>
      <div class="col-md-4">

      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <span>正在显示{{(params.page() - 1) * params.count() + 1}}-{{params.page() * params.count()}}</span>
          <button class="btn btn-sm btn-default" ng-click="params.page(params.page() - 1)" ng-disabled="params.page() == 1">
            上一页
          </button>
          <button class="btn btn-sm btn-default" ng-click="params.page(params.page() + 1)" ng-disabled="params.page() >= params.total() / params.count()">
            下一页
          </button>
        </div>
      </div>
    </div>
  </script>
</div>