<div id="basic-information-page">
  <table ng-table="tableParams" template-pagination="basic-information-table-tools" class="table table-selectable">
    <tbody ng-repeat="record in $data">
    <tr ng-click="toggleSelection(template)" ng-class="{active: record == tableParams.$selection}">
      <td class="col-md-2" data-title="'档案号'" sortable="'id'">{{record.id}}</td>
      <td class="col-md-2" data-title="'主人姓名'" sortable="'ownerName'">{{record.ownerName}}</td>
      <td class="col-md-2" data-title="'种类'" sortable="'petName'">{{record.petType}}</td>
      <td class="col-md-2" data-title="'品种'" sortable="'petName'">{{record.petBreed}}</td>
      <td class="col-md-2" data-title="'宠物名'" sortable="'petName'">{{record.petName}}</td>
      <td class="col-md-2" data-title="'入档时间'" sortable="'createTimestamp'">{{record.createTimestamp | date: 'yyyy年M月d日'}}</td>
    </tr>
    </tbody>
  </table>

  <script type="text/ng-template" id="basic-information-table-tools">
    <div class="clearfix ng-table-tools">
      <div class="col-md-4">
        <a class="btn btn-sm btn-success" ui-sref="medical.basic-information-create">
          <i class="ace-icon fa fa-plus bigger-110"></i>
          添加
        </a>
        <a class="btn btn-sm btn-info" ui-sref="settings-template-details({template: params.$selection.title})" ng-disabled="params.$selection == null">
          <i class="fa fa-plus bigger-110"></i>
          编辑
        </a>
      </div>
    </div>
  </script>
</div>