<div id="urine-test-records-page">
  <div class="tab-tools">
    <a class="btn btn-primary btn-sm" ui-sref="medical.record.test-records({id: $stateParams.id})"><i class="fa fa-arrow-left"></i>返回（检验记录列表）</a>
    <div class="pull-right">
      <a class="btn btn-sm btn-success" ui-sref="medical.record.urine-test-record({id: $stateParams.id, tid: 'new'})"><i class="fa fa-plus-square"></i>添加</a>
      <a class="btn btn-sm btn-info" ui-sref="medical.record.urine-test-record({id: $stateParams.id, tid: tableParams.$selection.id})" ng-disabled="tableParams.$selection == null"><i class="fa fa-pencil-square-o"></i>编辑</a>
    </div>
  </div>
  <div class="tab-content">
    <table ng-table="tableParams" show-filter="true" template-pagination="views/overrides/ng-table-tools.html" class="table table-selectable">
      <tbody>
      <tr ng-repeat="record in $data" ng-click="select(record)" ng-dblclick="edit(record)" ng-class="{active: record == tableParams.$selection}">
        <td class="col-md-2" data-title="'记录编号'" filter="{'id': 'text'}" sortable="'id'">{{record.id}}</td>
        <td class="col-md-2" data-title="'录入时间'" filter="{'timestamp': 'text'}" sortable="'timestamp'">{{record.timestamp | date: 'yyyy年M月d日'}}</td>
        <td class="col-md-4" data-title="'兽医师'" filter="{'veterinarianName': 'text'}" sortable="'veterinarianName'">{{record.veterinarianName}}</td>
        <td class="col-md-4" data-title="'检验师'" filter="{'docimasterName': 'text'}" sortable="'docimasterName'">{{record.docimasterName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>